:root {
  --color1: #b6a6ca;
  --color1-rgb: 182,166,202;
  --color2: #1A7278;
  --color2-rgb: 25,114,120;
  --color1-contrast: #FFFFFF;
  --color2-contrast: #FFFFFF;
}

@import "../base-bootstrap.scss";
